
<!-- Cover picture & social media -->
<div class="pf-cover">
  <div class="box">
    <div class="content">
      <h2 class="callme">Hi, I'm Andrian</h2>
    </div>
  </div>

  <div class="social">
    <ul class="list">
      <li>
        <a href="https://www.linkedin.com/in/rakotoarisoa-tahiriniaina-andrian-4a01aa211/" class="link" title="Learn more about me on linkedin">
          <img src="https://img.icons8.com/color/48/000000/linkedin.png"/>
        </a>
      </li>

      <li>
        <a href="https://www.facebook.com/profile.php?id=100066432750561" class="link" title="Follow  me on facebook">
          <img src="https://img.icons8.com/color/48/000000/facebook.png"/>
        </a>
      </li>

      <li>
        <a href="https://github.com/TAndrian" class="link" title="Visite my github repository">
          <img src="https://img.icons8.com/color/48/000000/github--v3.png"/>
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- About myself -->
<div class="aboutme">
  <div class="block">
    <h2 class="title title1"> Who I am ?</h2>
    <div class="separator"></div>

    <p class="text">
      I am a student, currently in the first year of a Master's degree in software engineering at the University of RENNES 1 based in Rennes, FRANCE.
      I am front-end developer and planned to extend my knowledge to become a fullstack developer. During this year, I followed a
      Web Engineering course and it was really interesting me. I enjoy designing pixel perfect  apps
      for web. I like them to be beautiful and with scallable code.
      Do not hesitate to talk with me, I speak English and French fluently apart of my native language
    </p>

    <a class="button"  href="/files/MonCvEtudiant.pdf" download="" >
      <span class="material-icons">
        save_alt
      </span> Download my resume
    </a>

      <div class="info">
        <mat-card class="info-card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>T.Andrian </mat-card-title>
            <mat-card-subtitle>Front-end Developper</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="/../assets/images/pfpic.jpg" alt="Photo of T.Andrian ">

          <mat-card-content>
            <span class="label">Name : </span> <p class="text1"> Tahiriniaina Andrianina Rakotoarisoa</p>
            <span class="label">Phone number: </span> <p class="text1"> +33 6 81 96 53 89</p>
            <span class="label">E-mail : </span> <p class="text1"> rakotoarisoa.tahiriniaina@gmail.com </p>
          </mat-card-content>
        </mat-card>
      </div>
 </div>
</div>





