<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      fixedInViewport
      [ngClass]="{hidden: !(isHandset$ |async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> NAVIGATION</mat-toolbar>
     <mat-nav-list (click)="drawer.toggle()"> 
        <a mat-list-item href="#about"  > <mat-icon>account_box</mat-icon>About me</a>
        <a mat-list-item href="#skill" > <mat-icon>developer_mode</mat-icon>My skills</a>
        <a mat-list-item href="#project" > <mat-icon> border_color</mat-icon>Projects</a>
        <a mat-list-item href="#contact" > <mat-icon> contacts</mat-icon> Contacts</a>
      </mat-nav-list>
    
   
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon style="color: aliceblue;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <span class="name">T. ANDRIAN</span>
    <span class="spacer"></span>

    <a mat-list-item href="#about" > <mat-icon>account_box</mat-icon>About me</a>
        <a mat-list-item href="#skill" > <mat-icon>developer_mode</mat-icon>My skills</a>
        <a mat-list-item href="#project" > <mat-icon> border_color</mat-icon>Projects</a>
        <a mat-list-item href="#contact" > <mat-icon> contacts</mat-icon> Contacts</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


