 <div class="container">
    <div class="block">
        <h2 class="title">Work samples</h2>
        <h3 class="title1">I 've made few apps!</h3>
        <div class="separator"></div>

        <p class="text">
               As a developer, I have already achieved few personal projects aside of the
               projects given by my university to make use of the skills I listed previously.
               The creation of those apps helped me a lot to understand more about the language and the framework
               I used.
        </p>
    </div>
</div>
 