
    
<div class="pf-skill">
    <div class="block">
        <h2 class="title "> What I have learned ?</h2>
        <div class="separator"></div>
        
       <div class="left-block">
           <div class="box">
               <h3 class="title1">
                   <mat-icon>laptop_mac</mat-icon>
                   Developpement principles
               </h3>

               <p class="text">
                   I am applying all the programming rules to make scalable, structured
                   and efficient apps. S.O.L.I.D, D.R.Y, K.I.S.S principles, these make
                   the development faster, easier and make the code more maintainable.
               </p>
            </div>

            <div class="box">
                <h3 class="title1">
                    <i class="fas fa-code-branch"></i>
                    Source control
                 </h3>

                <p class="text">
                    Versioning and managing new program implementations in a team of 
                    developers is a tough job. It is solved by using Git version
                    control. Along with it, I push my code on Github and Gitlab Istic to 
                    to collaborate with teams.
                </p>
            </div>

        </div>

        <div class="right-block">
            <div class="box">
                <h3 class="title1">
                    <i class="fas fa-server"></i>               
                    Data structures
                </h3>

                <p class="text">
                A well talented programmer should master some of the algorithms and 
                models for solving popular data structure problems. These skills 
                separates a simple developer from the one that outputs efficient codes.
                </p>
            </div>

            <div class="box">
                <h3 class="title1">
                    <mat-icon>view_list</mat-icon>
                    Design patterns
                </h3>

                <p class="text">
                During this year, I discovered some design patterns such as 
                MVP, MVC, MVVM, etc... Those architectures eases the development
                process and make better scalable and structured code. Factory, 
                MVC, singleton code etc... are the the most popular ones.
                </p>
            </div>
        </div>
    </div>
</div>

<!--My skills-->
<div class="myskill">
    <div class="block-skill">
        <h2 id="title">My skills</h2>
        <h3 id="title1">I use wonderful techs!</h3>
        <div class="separator"></div>

        <p class="text1">
            Nowadays, a bunch of new technologies are released every year
            and programming languages evolve rapidly with new features. So, the 
            key for a successful developer is to learn and master quickly new 
            frameworks or libraries. These tools are meant to ease the development
            process, to build better apps with less code and more structurated patterns.
        </p>
    </div>
</div>

<div class="skillist">
    <app-skillist></app-skillist>
</div>


